@model IEnumerable<MVC1.Models.Função>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.EmpresaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FunçãoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FunçãoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FunçãoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
